# Aula 1
---

**Este notebook foi feito baseado nas [notas de aula](https://cs229.stanford.edu/notes2022fall/main_notes.pdf) do professor Andrew Ng.**

---

Neste notebook serão abordados os seguintes tópicos:  
1. Como representar matematicamente e computacionalmente um conjunto de dados
2. Diferença entre aprendizado supervisionado e não-supervisionado

# *Imports* e *dataset*
---

## Imports

Todas as bibliotecas usadas neste notebook podem ser encontradas em:

* [pandas](https://pandas.pydata.org/)
* [numpy](https://numpy.org/)
* [seaborn](https://seaborn.pydata.org/)

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

## Dataset

Nosso dataset é composto por 47 amostras de casas. Para cada casa temos:  
1. Área (*float*): quantitativa contínua
2. Número de Quartos(*int*): quantitativa discreta 
3. Preço (*float*): quantitativa contínua

> O conjunto de dados utilizado neste notebook pode ser encontrado no seguinte [link](https://www.kaggle.com/kennethjohn/housingprice).  
> No entanto, fiz algumas pequenas modificações para fins didáticos, o código para replicá-las encontra-se abaixo:

```python
np.random.seed(42)
df["Area"] = (df["Area"] + np.random.normal(loc=10, scale=1, size=47)).round(1)
df["Price"] = (df["Price"] + np.random.normal(loc=1000, scale=100, size=47)).round(2)
```

### Representação matemática

Como vimos, a representação geral de um dataset é dada da seguinte forma: $\{ (X^{(i)}, y^{(i)}) \; \forall \, i \in [1, N] \}$

No nosso caso, como temos 47 amostras, nosso $N = 47$, então: $\{ (X^{(i)}, y^{(i)}) \; \forall \, i \in [1, 47] \}$

E o conjunto de features $X$:

In [58]:
df = pd.read_csv("./datasets/oregon_houses_price_47_modified.csv")
df.head()

     Area  Bedrooms      Price
0  2114.5         3  401005.71
1  1609.9         3  330934.36
2  2410.6         3  369823.70
3  1427.5         2  233032.41
4  3009.8         4  540861.49